@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.monomakh-font {
  font-family: 'Monomakh', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-glow {
  text-shadow: 0 0 10px #00df82, 0 0 20px #00df82, 0 0 30px #00df82;
}